@import "../../styles/variables.scss";

.card-total-container {
  flex: 0.4;
  .card-total-total-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    color: $light-text;
  }
  .card-total-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-total-actions {

    .MuiButtonBase-root {
        text-transform: none;
        @include text-normal-mixin();
        font-weight: 700;
        line-height: 24px;
        border-radius: 8px;
        height: 48px;
        &:first-child {
            margin-top: 32px;
            background-color: $light-primary-color;

        }
        &:last-child {
            margin-top: 12px;
            border-width: 2px;
            color: $primary-color;
            border-color: $primary-color;
        }
    }
  }
}
