$primary-color: #091625;
$light-navbar-text: #535c67;
$light-text: #6b737c;
$dark-icon-text: #001342;
$light-primary-color: #3a4451;
$light-background: #e6e8e9;
$black: #000;
$white: #fff;
$light-pack-color: #9CA2A8;
$light-pack-indicator-color: #848A92;
$divider-color: #CED0D3;
$horizontal-padding: 92px;
$navbar-actions-gap: 24px;

@mixin text-normal-mixin {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
}

