@import "../../styles/variables.scss";
.cart-container {
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    
}